<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= originalUrl.includes('admin/tickets')? 'active fs-0':'fs--1' %>" id="tickets-tab" href="/admin/tickets" role="tab" aria-controls="tickets" aria-selected="true">Tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= originalUrl.includes('admin/users')? 'active fs-0':'fs--1' %>" id="users-tab" href="/admin/users" role="tab" aria-controls="users" aria-selected="false">Users</a>
  </li>
</ul>
<hr>