<!-- <div id="notification-alert" class="alert alert-soft-warning alert-dismissible fade show border d-none"" role="alert">
  <strong>Important!</strong> We have recently made significant updates to our website to address issues related to page refreshing. One notable change is the way we present Open Interest (OI) data. Previously, we displayed OI in terms of 'lot' size, but now we've transitioned to showing it in 'quantity.' It's important to note that in the context of the National Stock Exchange (NSE), OI information is typically presented in 'lot' sizes
  <div class="text-start">
    <a href="/contact-us" class="btn btn-outline-info me-1 mb-1 mt-2 text-start" type="button">Contact Us</a>
    <button id="notification-alert-close" class="btn btn-outline-info me-1 mb-1 mt-2 text-end" type="button"
    >Got it! Do not display this message again</button>
  </div>
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->
<nav style="--phoenix-breadcrumb-divider: '&gt;&gt;';" aria-label="breadcrumb">
  <ol class="breadcrumb mb-2 fs--1 mt--1">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home text-info"></i></a></li>
    <% links.splice(0, links.length - 1).forEach(function(item){ %>
    <li class="breadcrumb-item"><a href="<%= item.href %>"><%= item.text %></a></li>
    <% }); %>
    <li class="breadcrumb-item active"><em><%= links[links.length - 1].text %></em></li>
  </ol>
</nav>