<div class="collapse navbar-collapse show justify-content-center" id="navbarTopCollapse1">
  <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
    <li class="nav-item d-none">
        <a
          href="/journal"
          class="nav-link"
        >
          <i class="uil uil-home me-1"></i> Dashboard
        </a>
      </li>
     
      <li class="nav-item  d-none">
        <a
          href="/journal/tradejournal"
          class="nav-link"
        >
          <i class="uil uil-diary me-1"></i> Maintain Journal
        </a>
      </li>
      <li class="nav-item">
        <a
          href="/journal/add-trade"
          class="nav-link"
        >
          <i class="uil uil-plus-circle  me-1"></i> Add Trade
        </a>
      </li>
      <li class="nav-item">
        <a
          href="/journal/trades"
          class="nav-link"
        >
          <i class="uil uil-list-ul me-1"></i> Trade List
        </a>
      </li>
      <li class="nav-item">
        <a
          href="/journal/manage-strategy"
          class="nav-link"
        >
        <i class="uil uil-analysis me-1"></i> Manage Strategy
        </a>
      </li>
      <li class="nav-item  d-none">
        <a
          href="/journal/execution-list"
          class="nav-link"
        >
          <i class="fa-solid fa-list-ol me-2"></i> Execution List
        </a>
      </li>
  </ul>
</div>