<footer class="bg-1100 dark__bg-1000" style="background: linear-gradient(102.27deg, #38ABFF 4.69%, #3874FF 106.27%)">
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="row gx-xxl-8 gy-5 align-items-center mb-0">
      <div class="col-xl-auto text-center">
        <div class="bg-700 d-inline-block rounded-circle h-100">
          <a href="/"><img src="<%= process.env.STATIC_FILES %>/public/images/logo.png" height="48" alt="Nifty Invest logo"></a>
        </div>
      </div>
      <div class="col-xl-auto flex-1">
        <ul class="list-unstyled d-flex justify-content-center flex-wrap mb-0 border-end-xl border-dashed border-800 gap-3 gap-xl-8 pe-xl-5 pe-xxl-8 w-75 w-md-100 mx-auto">
          <li><a class="text-200 dark__text-300" href="/contact-us">Contact us</a></li>
          <li><a class="text-200 dark__text-300" href="/terms-and-conditions">Terms & Conditions</a></li>
          <li><a class="text-200 dark__text-300" href="/privacy-policy">Privacy Policy</a></li>
          <li><a class="text-200 dark__text-300" href="/disclaimer">Disclaimer</a></li>
        </ul>
      </div>
      <div class="col-xl-auto text-center">
        <h6 class="text-center">Download our mobile app</h6>
        <a href="https://play.google.com/store/apps/details?id=com.niftyinvest" target="_blank">
          <img style="height: 80px;" src="<%= process.env.STATIC_FILES %>/public/images/google-play-badge.png" alt="Download our mobile app" />
        </a>
      </div>
      <hr class="text-800 g-0">
      <div class="d-sm-flex flex-between-center text-center">
        <p class="text-200 mb-0">Copyright © 2020 NiftyInvest</p>
        <p class="text-200 mb-0">
          <a class="btn btn-adv btn-phoenix-primary me-1 mb-1" href="/contact-us">Advertise with us <span class="ms-1" data-feather="globe" style="height:15.8px;width:15.8px;"></span></a>
        </p>
        <div class="text-600 mb-1">
          <a class="text-200 dark__text-300 " href="mailto:support@niftyinvest.com"><span class="far fa-envelope me-1"></span>support@niftyinvest.com</a>
          <div class="d-flex align-items-center justify-content-center gap-8 mt-2">
            <a class="text-white dark__text-white" href="https://www.facebook.com/niftyInvestcom"> <span class="fa-brands fa-facebook"></span></a>
            <a class="text-white dark__text-white" href="https://www.facebook.com/niftyInvestcom"> <span class="fa-brands fa-twitter"></span></a>
            <a class="text-white dark__text-white" href="https://www.facebook.com/niftyInvestcom"> <span class="fa-brands fa-linkedin-in"></span></a></div>

        </div>
      </div>

    </div>
  </div><!-- end of .container-->
  </section>