
.vertical-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  p{
    padding: 0;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  div.list-group {
    margin-bottom: 0;
    padding-left: 0;

    .list-group-item {
      position: relative;
      display: flex;
      background-color: transparent;
      height:225px;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
    }
  }

  div.list-group > a {
    margin-bottom: 0;
  }

  div.list-group > a .glyphicon,
  div.list-group > a .fa {
    color: rgba(var(--phoenix-info-rgb), var(--phoenix-bg-opacity)) !important;
  }

  div.list-group > a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
  }

  div.list-group > a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }

  div.list-group > a.active,
  div.list-group > a.active .glyphicon,
  div.list-group > a.active .fa {
    --phoenix-bg-opacity: 1;
    background-color: rgba(var(--phoenix-info-rgb), var(--phoenix-bg-opacity)) !important;
  }

  div.list-group > a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid rgba(var(--phoenix-info-rgb), var(--phoenix-bg-opacity)) !important;
  }
}
