<style>
  .chart-container {
    min-height: 300px;
    position: relative;
  }
</style>

<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-lg-4 col-sm-6">
      <div class="dashboard-card text-center" id="dashboard-summary">
        <h5>Last Day PnL</h5>
        <h3 id="last-day-pnl-value">Loading...</h3>
        <p id="last-day-pnl-change">Loading...</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="pnl-card text-center">
        <h5>Last Month P&L</h5>
        <h3>₹ <span id="lastMonthPnL">Loading...</span></h3>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="dashboard-card text-center" id="this-year-pnl-card">
        <h5>PnL This Year</h5>
        <h3>$0</h3>
        <p>0%</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="dashboard-card">
        <h5>PNL Chart</h5>
        <div id="line-chart" class="chart-container"></div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4 mb-6">
    <div class="col-lg-6 col-sm-8">
      <div class="dashboard-card text-center">
        <h5>Winning & Losing Days</h5>
        <div class="d-flex justify-content-around">
          <div>
            <h6>Winning Days</h6>
            <h3 id="winning-days">Loading...</h3>
          </div>
          <div>
            <h6>Losing Days</h6>
            <h3 id="losing-days">Loading...</h3>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<script src="/journal/js/tradeDashboard.js?v=<%= ENVNAME === 'prod' ? '2' : Math.random() %>"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
