<div class="container-fluid">
  <div class="row">
    <div class="card shadow p-3 mb-4">
      <h5 class="text-primary">Filters</h5>
      <form id="filtersForm" class="row g-3">
        <div class="col-md-2">
          <div class="form-floating">
            <input class="form-control" id="symbolFilter" type="text" placeholder="Symbol" />
            <label for="symbolFilter">Symbol</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            <select class="form-control" id="instrumentFilter">
              <option value="" selected>All</option>
              <option value="Stock">Stock</option>
              <option value="Options">Options</option>
              <option value="Futures">Futures</option>
            </select>
            <label for="instrumentFilter">Instrument</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            <input class="form-control" id="startDateFilter" type="date" placeholder="Start Date" />
            <label for="startDateFilter">Start Date</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            <input class="form-control" id="endDateFilter" type="date" placeholder="End Date" />
            <label for="endDateFilter">End Date</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            <select class="form-control" id="positionFilter">
              <option value="" selected>All</option>
              <option value="Buy">Buy</option>
              <option value="Sell">Sell</option>
            </select>
            <label for="positionFilter">Position</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            <select class="form-control" id="statusFilter">
              <option value="" selected>All</option>
              <option value="Active">Active</option>
              <option value="Closed">Closed</option>
            </select>
            <label for="statusFilter">Status</label>
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end ms-auto gap-1">
          <button type="button" class="btn btn-outline-info " id="applyFilters">Apply Filters</button>
          <button type="button" class="btn btn-outline-secondary " id="resetFilters">Reset</button>
        </div>
      </form>
    </div>
          <div class="card shadow p-2">
        <div class="mb-3">
          <h5 class="text-primary">Execution List</h5>
        </div>

        <div class="table-responsive">
          <table
            class="table table-sm fs--1 mb-0 table-bordered table-hover align-middle"
          >
            <thead class="table-info text-center">
              <tr>
                <th class="fw-bold">Date and Time</th>
                <th class="fw-bold">Instrument</th>
                <th class="fw-bold">Symbol</th>
                <th class="fw-bold">Quantity</th>
                <th class="fw-bold">Position</th>
                <th class="fw-bold">Price</th>
                <th class="fw-bold">Accounts</th>
                <th class="fw-bold">Target Price</th>
                <th class="fw-bold">Strategies</th>
                <th class="fw-bold">Notes</th>
                <th class="fw-bold">Actions</th>
              </tr>
            </thead>
            <tbody id="tradeTable"></tbody>
          </table>
        </div>

        <div class="mt-3 d-none">
          <table class="table table-bordered align-middle text-start">
            <tbody>
              <tr>
                <td>
                  <strong>Total:</strong>
                  <span id="totalTrades"><strong> $0.00</strong></span>
                </td>
                <td><strong id="totalPnL">$0.00</strong></td>
              </tr>
              <tr>
                <td><strong>Average: $0.00</strong></td>
                <td><strong id="averagePnL">$0.00</strong></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <div id="paginationInfo"></div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end" id="pagination"></ul>
          </nav>
        </div>

        <div class="mt-3">
          <p id="tradeCountInfo" class="text-muted"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteTradeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this trade?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" id="confirmDeleteTrade" type="button">
          Delete
        </button>
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/journal/js/executionList.js?v=<%= ENVNAME === 'prod' ? '2' : Math.random() %>"></script>
