<h3 class="mt-5">Jounal</h3>

<div class="row">
  <div class="col-6">
    <button id="fetchWithLogin">Fetch with Login</button>
    <div id="loginResult" style="margin-top: 20px;"></div>
  </div>
  <div class="col-6">
    <button id="fetchWithoutLogin">Fetch without Login</button>
<div id="noLoginResult" style="margin-top: 20px;"></div>

  </div>
</div>


<script>
  $(document).ready(function() {
    // Fetch with login
    $('#fetchWithLogin').on('click', function() {
      $.ajax({
        url: '/api/journal/test-api-login',
        method: 'GET',
        success: function(data) {
          $('#loginResult').html(`<p>Status: ${data.status}</p><p>Message: ${data.message}</p>`);
        },
        error: function(xhr, status, error) {
          $('#loginResult').html(`<p>Error: ${xhr.responseJSON.message || 'An error occurred.'}</p>`);
        }
      });
    });

    // Fetch without login
    $('#fetchWithoutLogin').on('click', function() {
      $.ajax({
        url: '/api/journal/test-api',
        method: 'GET',
        success: function(data) {
          $('#noLoginResult').html(`<p>Status: ${data.status}</p><p>Message: ${data.message}</p>`);
        },
        error: function(xhr, status, error) {
          $('#noLoginResult').html(`<p>Error: ${xhr.responseJSON.message || 'An error occurred.'}</p>`);
        }
      });
    });
  });
</script>