.select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

blockquote {
  border-color: color("blue", "darken-1");
}

.ni-icon {
  position: absolute;
  margin-left: -30px;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}