    <div class="row">
      <div class="col l9 s12">
        <div class="ni-card card">
          <div class="card-content padding-20 center" style="
    background: #f9f9fb;
">
            <img src="<%= process.env.STATIC_FILES %>/public/images/coming-soon.png" alt="coming-soon" />
          </div>
        </div>
      </div>
      <div class="col l3 s12">
        <% include ./partials/referals/_Zerodha.ejs %>
      </div>
    </div>