<%- include('./partials/_Variable.ejs') %>
<div style="background-image: url(<%= process.env.STATIC_FILES %>/public/images/corner-5.png);background-size: cover;">
  <section class="py-0 overflow-hidden" id="home">
    <canvas id="home-canvas" class=" d-none d-lg-block" style="position: absolute;"></canvas>
    <div class="hero-header-container-alternate position-relative py-0">
      <div class="px-2">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 pt-3 pt-lg-5 pb-lg-6 position-relative text-center text-lg-start">
            <h1 class="fs-5 fs-md-6 fs-xl-7 fw-black mb-2"><span class="text-gradient-info me-3">Nifty</span>Invest</h1>
            <h4 class="mb-0 pe-xl-10">Standard, modern and Elegant solution for your trading journey <%= menu %></h4>
            <p class="text-200 mb-4 mt-2">
              <a class="btn btn-adv btn-lg rounded-pill btn-outline-primary me-1 mb-1" href="/contact-us">Advertise with us <span class="ms-1" data-feather="globe" style="height:20.8px;width:20.8px;"></span></a>
            </p>
            <div class="logo-holder text-center overflow-hidden w-100">
              <div class="bar"></div>
              <div class="bar fill1"></div>
              <div class="bar fill2"></div>
              <div class="bar fill3"></div>
              <div class="bar fill4"></div>
              <div class="bar fill1"></div>
              <div class="bar fill5"></div>
              <div class="bar fill6"></div>
              <div class="bar fill1"></div>
              <div class="bar fill2"></div>
              <div class="bar fill3"></div>
              <div class="bar fill4"></div>
              <div class="bar fill1"></div>
              <div class="bar fill5"></div>
              <div class="bar fill6"></div>
              <div class="bar fill1"></div>
              <div class="bar fill2"></div>
              <div class="bar fill3"></div>
              <div class="bar fill4"></div>
              <div class="bar fill1"></div>
              <div class="bar fill5"></div>
              <div class="bar fill6"></div>
              <div class="bar fill1"></div>
              <div class="bar fill2"></div>
              <div class="bar fill3"></div>
              <div class="bar fill4"></div>
              <div class="bar fill1"></div>
              <div class="bar fill5"></div>
              <div class="bar fill6"></div>
              <div class="bar fill1"></div>
              <div class="bar fill2"></div>
              <div class="bar fill3"></div>
              <div class="bar fill4"></div>
              <div class="bar fill1"></div>
              <div class="bar fill5"></div>
              <div class="bar fill6"></div>
              <div class="bar fill1"></div>
              <div class="bar fill2"></div>
              <div class="bar fill3"></div>
              <div class="bar fill4"></div>
              <div class="bar"></div>
            </div>
          </div>
          <div class="col-12 col-lg-6  pb-0 position-relative text-end">
            <img src="<%= process.env.STATIC_FILES %>/public/images/d2.png" alt="Nifty Invest Logo">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
