$text-color: rgba(0, 0, 0, 0.6);
@import "materializeVariables";
@import "reset";
@import "partials/Headers";
@import "partials/Breadcrumb";
@import "partials/VerticalTab";
@import "partials/ExpiryTabs";
@import "partials/IndicesLinkSelect";
@import "partials/SideNavLinksSymbol";
@import "option-chain/optionChainStyle";
@import "option-chain/dataTable";
@import "tutorials/tutorialStyle";
@import "news/News";
@import "blog/analysis";
@import "index";
@import "index/sideNews";


body-1 {
  display: flex;
  background: #eee;
  min-height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}


main {
  flex: 1 0 auto;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

.no-padding {
  padding: 0
}

.no-margin {
  margin: 0
}

.no-margin-bm {
  margin-bottom: 0
}

.padding-20 {
  padding: 20px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-5 {
  padding: 5px !important;
}

.no-outline {
  outline: none;
}

.ni-card .card-content {
  padding: 0;

  p {
    margin: 0;
  }
}


.ni-card .card-content .card-page-title {
  padding: 10px;
  margin-bottom: 0px;
  /*margin-bottom: 15px;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-page-title .small {
  font-size: 50%;
  color: #555;
}

.w-100-per {
  width: 100%;
}

.mg-bm-50-rem {
  margin-bottom: 0.5rem;
}

.mg-bm-150-rem {
  margin-bottom: 1.5rem;
}

.height-transition {
  max-height: 0;
  transition: max-height 0.4s linear;
  overflow: hidden;
}

.height-transition.height-out {
  max-height: 1000em;
  transition: max-height 1.2s ease-in;
}

.col.ni-link-mp {
  border: 1px dotted #ddd;
  margin-bottom: 0;
  padding: 0;
}

.ni-link-mp:hover {
  border-bottom: 1px solid #1565c0;
  background: #90CAF9;
}

.ni-link-mp:hover a {
  color: #555;
  font-weight: bolder;
}

/*option-chain*/

.option-chain-page .row {
  margin: 0;
}

.symbol-italics {
  font-size: 14px;
}

.change-icon {
  margin: -10px -5px;
  font-size: 40px;
  position: absolute;
}

.ni-none {
  display: none;
}

a.no-link {
  text-decoration: none;
  color: black;
}

a.index-block {
  font-size: 30px;

  .card {
    padding: 30px 10px;
    color: #444;
  }
}

.label-tag {
  position: absolute;
  top: 0;
  font-size: 14px;
  right: 0;
  background: red;
  padding: 2px 10px;
  margin-right: -9px !important;
  margin-top: 5px !important;
}

.new-menu {
  position: absolute;
  top: -9px;
  background: red;
  right: -6px;
  line-height: 19px;
  padding: 0 4px;
}

.cursor-pointer {
  cursor: pointer;
}

/*max pain*/
.autocomplete:focus {
  border-bottom: 1px solid #3e95ed !important;
}

.symbol-block {
  background: #5e7b9c;
  color: #fff;
  padding: 30px;
  text-align: center;


  .truncate {
    text-overflow: ellipsis;
    font-weight: bolder;
  }

  .symbol-italics {
    color: #ccc;
  }

  &:hover:after {
    background-color: rgba(0, 51, 102, 0.6);
  }

  &:after {
    background-color: rgba(0, 51, 102, 0.4);
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.breadcrumb {
  color: #666;

  &:last-child {
    color: #999;
  }

  &::before {
    margin-top: -4px;
    color: #aaa
  }
}

.sentence-case {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

.capital-case {
  text-transform: capitalize;
}


table.ni-table {
  background: #eee;
  border: 3px solid #1565C0;

  th {
    border-right: 1px solid #0D47A1;
  }

  th,
  td {
    border-radius: 0;
  }

  thead tr:last-child {
    border-color: #0D47A1;
  }
}

.link-page-card {
  height: 90px;
}

.tradeview-overlay {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
  }

  .tv-single-ticker {
    position: absolute;
    top: 0;
    right: 1px;
    height: 25px;
    background-color: #1f222d;
    margin: 5px 0px;
    color: #ddd;
    cursor: pointer;
  }
}


.flex {
  display: flex !important;

  &.align-v-center {
    align-content: center;
  }

  &.space-bw {
    justify-content: space-between;
  }
}

.news-head {
  position: absolute;
  width: 100%;
  margin-left: -10px !important;
  top: 0;
  padding-left: 10px;
  padding-top: 5px;
}


/* news scroll*/
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

/* End news scroll*/
.tablesorter {
  * {
    outline: 0;
  }

  thead .sorter-false {
    background-image: none;
    padding: 4px;
  }
}

.fb-comment {
  overflow-y: scroll;
  max-height: 500px;
  min-height: 150px;
}

.material-icons:not(.medium) {
  overflow: hidden;
  max-width: 40px;

  &:not(.df-width) {
    width: 40px;
  }
}

.page-header {
  font-size: 25px;
  margin: 0;
}

.pcr-data-col {
  border: 2px solid #00b0ff;
  text-align: center;
  padding: 8px 0;
  margin: 0 !important;
}

.bold-text {
  font-weight: bold;
}

@media only screen and (min-width: 993px) {
  .fixed-on-lg {
    position: fixed;
  }
}

.z-top {
  z-index: 99;
}

.page-footer {
  z-index: 99;
  background-color: #007aff;
  border-top: 1px solid #eee;
}

.ni-container {
  position: relative;
}

.ad-block {
  text-align: center;
  width: 100%;

  // overflow: hidden;
  @media only screen and (min-width: 993px) {
    &.m-height-lg-device {
      position: relative;
      min-height: 285px;
    }
  }

  &.m-height {
    $ad-height: 285px;
    position: relative;
    min-height: $ad-height;

    &:before {
      content: "Please support us by clicking on ads";
      font-size: 25px;
      color: #ccc;
      position: absolute;
      z-index: 0;
      line-height: 245px;
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
    }

    &:after {
      content: "Please support us by clicking on ads";
      font-size: 16px;
      color: #bbb;
      position: absolute;
      z-index: -1;
      line-height: 300px;
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
    }
  }
}

blockquote.page-title {
  border-color: #1E88E5;
  display: inline-block;
  padding: 0px;
  margin: 0.5rem 0;

  h1 {
    font-size: 25px;
    margin: 0;
    color: color("grey", "darken-2");
  }

  p {
    display: flex;
    margin: 0;
    color: color("grey", "base");
  }
}

// As per new Theme

.content {
  padding: calc(var(--phoenix-navbar-top-height) + 0.5rem) 1.5rem 6.375rem 1.5rem;
}

.navbar-vertical+.navbar-top .navbar-logo {
  height: 4rem;
}

@media (min-width: 992px) {
  .navbar-vertical.navbar-expand-lg {
    width: 17.875rem;
  }

  .navbar-vertical-collapsed .navbar-vertical.navbar-expand-lg {
    position: fixed;
  }

  .navbar-vertical.navbar-expand-lg~.navbar-top~.content {
    margin-left: 17.875rem;
  }

  .navbar-vertical .navbar-vertical-footer {
    width: 17.875rem;
  }

  .stick-table.table-responsive {
    overflow-x: unset !important;

    table thead {
      position: sticky;
      top: 4rem;
    }
  }
}

.card.bg-card {
  background-image: url(/images/corner-5.png);
  background-size: cover;
}

.card-body {
  --phoenix-card-spacer-y: 1rem;
  --phoenix-card-spacer-x: 0.5rem;
  padding: var(--phoenix-card-spacer-y) var(--phoenix-card-spacer-x);
}

.choices .choices__list--dropdown .choices__item--selectable {
  background-color: var(--phoenix-white);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

/* Keyframes for the glowing effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    border: 2px solid #3498db;
  }

  100% {
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
    border: 2px solid #2980b9;
  }
}

.btn-adv {
  animation: pulse 1.5s infinite, glow 2s infinite alternate;
  /* Animation properties */
}

.modal-detector-center,
.warn-icon,
.warn-icon .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-detector-center {
  flex-direction: column;
}

.warn-icon {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
}

.warn-icon .icon {
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: inherit;
}

.warn-icon .icon svg {

  background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.modal-backdrop.show {
  background: rgba(52, 58, 65, 0.600000);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  opacity: 0.9 !important;
  /* Change this to your desired color */
}