<% include ../../adsense/google/_v_scrapper_ad_banner_1.ejs %>
<a href="https://zerodha.com/?c=ZJ7127">
    <div class="ni-card card">
        <div class="card-content padding-20 text-center">
            <img width="200px" src="https://zerodha.com/static/images/logo.svg">
            <br>
            <br>
            <p class="blue-grey-text">Open Zerodha account <i class="material-icons">launch</i></p>
            <p class="blue-grey-text"><i class="symbol-italics">( ₹ 20 / Trade )</i></p>
        </div>
    </div>
</a>
<br/>
