<div class="container">
  <h2>All Forum Posts</h2>
  <button id="addPostBtn" class="btn btn-primary">Add Post</button>
  <div id="postsContainer"></div>
</div>

<script src="/journal/js/forum.js?v=<%= ENVNAME === 'prod' ? '2' : Math.random() %>"></script>
