<% include ../../partials/_Variable.ejs %>
<% if(!isAuthenticated || !user?.isAdDisabled){ %>
<div class="ad-block m-height-lg-device  mb-2">
  <div class="center">
    <ins class="adsbygoogle" style="display:block;text-align: center" data-ad-client="ca-pub-8797542869086956" data-ad-slot="8380863419" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
<% } else { %>
  <% if(showAd.toLowerCase() == "false"){ %>
    <h3 class="text-200 text-center">ADVERTISEMENT</h3>
    <%}%>
<% } %>